.header {
  height: 80px;
  background-color: white;
  border-left: 1px solid #f5f5f5;
}
.header-content {
  padding: 0 30px;
}
.header-content .notificationIcon {
  margin-right: 40px;
}

.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: auto !important;
  position: absolute !important;
}

.header.dark {
  background-color: #242731;
  border-left: 1px solid #1f2128;
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .header-content {
    /* padding: 0; */
  }
}

@media only screen and (max-width: 576px) {
  .header-content .notificationIcon {
    margin-right: 10px;
  }
}
