html {
  font-size: 62%;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  font-size: 2rem;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}

.layout {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  background-color: #f5f5f5;
}
.main {
  position: relative;
  overflow-x: hidden;
  padding: 30px;
  min-height: 100vh;
}

/* components */

/* pie card */
.pie-card {
  /* max-width: 232px; */
  height: 266px;
  background-color: #fff;
  border-radius: 14px;
}

.pie-card:hover {
  background-color: #a66ff0 !important;
  color: #fff;
}

/* chart */
.chart-content {
  border-radius: 14px;
  /* max-width: 488px; */
  /* max-height: 332px; */
  min-height: 280px;
  padding: 15px 30px;
  background: #fff;
}

/* search  */
.search-group {
  background: #f5f4f6;
  padding: 12px;
  max-width: 300px;
  border-radius: 8px;
}

.search-group input {
  border: none;
  font-size: 1.6rem;
  padding: "0px";
  padding-left: 15px;
  background: #f5f4f6;
}

.booking-card {
  background: white;
  border-radius: 16;
  /* // max-width: 325px; */
  height: 267px;
  /* margin-bottom: 24px; */
  padding: 24px;
}
.booking-card-footer {
  font-size: 1.6rem;
  color: #72767c;
}
.booking-card-footer svg {
  fill: #a162f7;
}
.booking-card-footer .price {
  color: #242731;
}

.custom-dropdown {
  height: 32px;
  width: auto;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 22px;
  border: none;
  color: #5f6165;
  padding: 0 20px;

  background-image: url(./assets/icons/arrowDownIcon.svg);
  background-size: 20px;
  background-repeat: no-repeat;
}

/*  */

.icon-button {
  background-color: #fff;
  cursor: pointer;
}
.icon-button:hover {
  background-color: #a162f7 !important;
}
.icon-button svg {
  fill: #777e90;
}

.icon-button:hover svg {
  fill: #fff;
}
/* /////////////////////// */

/* media quary */
@media only screen and (max-width: 992px) {
  /* .pie-card {
    margin-bottom: 20px;
  } */
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 30px 0;
  }
  .layout-right {
    width: 85% !important;
  }

  .chart-content {
    margin-bottom: 30px;
  }

  /* .recommend-cart {
    margin: 0 auto;
    margin-bottom: 30px;
  } */
}

@media only screen and (max-width: 576px) {
  /* .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  } */
  .header-content .notificationIcon {
    margin-right: 10px;
  }

  /* .booking-card {
    margin: 0 auto;
    margin-bottom: 20px;
  } */
}
@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 365px) {
}
@media only screen and (min-width: 1500px) {
}
/* /////////////////////////////////////////////////// */
/* dark mode theme */
/* /////////////////////////////////////////////////////// */
.dark .main,
.dark.layout {
  background: #1f2128 !important;
}
.dark .main .page-title,
.dark .sidebar-title {
  color: #fff;
}

/* dark side bar */
.dark .sidebar,
.dark .date-buttons {
  background: #242731 !important;
}
.dark .sidebar-navlink {
  color: #808191;
}
.dark .sidebar-navlink-active {
  color: #ffffff;
  background-color: #292e3d;
}
.dark .sidebar-navlink-active > svg {
  fill: #fff;
  color: #fff;
}
.dark .sidebar-navlink:hover svg,
.dark .icon-button svg {
  fill: #fff;
}

.dark .sidebar-navlink:hover {
  color: #ffffff;
  background-color: #292e3d;
}
/* // home page dark theme */
.dark .pie-card,
.dark .chart-content,
.dark .booking-card,
.dark .booking-card-footer,
.dark .booking-card-footer .price,
.dark .icon-button,
.dark .custom-dropdown {
  background-color: #242731;
  color: #fff;
}

.dark .search-group input,
.dark .search-group {
  background: #1f2128 !important;
  color: #7c7c8d;
}
