body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none;
}
.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: auto;
}
.navbar {
  height: 78px;
  padding: 0;
}
